<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Agropopshop - Clientes</title>
</head>

<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a href="/clientes">Organizar Clientes</a></li>
        <li><a href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1 th:text="${isEdit} ? 'Editando cliente:' : 'Adicionando cliente:'"></h1>
        <div class="alinhamento">
            <form th:object="${cliente}" method="POST" th:action="@{${isEdit}? '/clientes/editar/{id}' : '/clientes/adicionar' (id=${cliente.id})}" class="formulario">
                <label for="Nome">* Nome Completo: </label>
                <input type="text" name="Nome" id="Nome" placeholder="Seu nome completo" th:field=*{nome} required><br>
                <label for="Nascimento">* Data de Nascimento: </label>
                <input type="date" name="Nascimento" id="Nascimento" th:field=*{dataNascimento} required><br>
                <p style="font-size: 2.5vh; margin: 0vh;">* Sexo:</p>
                <input type="radio" name="Sexo" id="Masculino" value="Masculino"  th:field=*{genero} required>
                <label for="Masculino">Masculino</label><br>
                <input type="radio" name="Sexo" id="Feminino" value="Feminino" th:field=*{genero} required>
                <label for="Feminino">Feminino</label><br>
                <input type="radio" name="Sexo" id="Não informar" value="Não informar" th:field=*{genero} required>
                <label for="Não informar">Não informar</label><br>
                <input type="submit" value="Enviar" class="botao">
                <input type="reset" value="Limpar" class="botao">
            </form>
            <p>* obrigatório</p>
        </div>
    </div>
</body>

</html>