<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pweb_2020.2_MalysonSouza</title>
</head>

<body>
    <ul>
        <li><a class="ativo" href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a href="/clientes">Organizar Clientes</a></li>
        <li><a href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1>AgroPopShop</h1>
        <div class="alinhamento">
            <h2>Aqui vai haver varias coisas bacanas</h2>
            <p>Não tive muito tempo essa semana, mas consegui implementar os pedidos.</p><br>
            <p>Bom como não posso perder as informações do pedido achei melhor usar um status avisando que foi cancelado</p>
            <p>Acho que um pedido efetuado não pode ser alterado. Mas pela maneira que fiz seria bem complicado editar, acho que poderia quebrar tudo kkk</p>
            <br>
            <p>Proxima vez tento fazer mais cedo para não ficar tão bagunçado.</p>
        </div>
    </div>
</body>

</html>