<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pweb_2020.2_MalysonSouza</title>
</head>

<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a class="ativo" href="/clientes">Organizar Clientes</a></li>
        <li><a href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1>Clientes Novatos:</h1>
        <a th:href=@{/clientes} class="botao inativo">Listar Clientes</a>
        <a th:href=@{/clientes/adicionar} class="botao inativo">Adicionar</a>
        <a th:href=@{/clientes/novatos} class="botao">Ver Novatos</a>
        <div class="info">
            <div>
                <form th:action="@{/clientes/novatos/}" id="form" method="POST">
                    <label for="Mes">Exibindo do mês: </label>
                    <input type="month" name="Mes" required th:value="${dataStr}" oninput="setAction(this.value)"
                        id="Mes" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM')}"><br>
                    <input type="submit" value="Pesquisar" class="botao">
                </form>
                <hr>
                <table style="width: 100%;">
                    <tr>
                        <th>ID</th>
                        <th>Nome Completo</th>
                        <th>Data de nascimento</th>
                        <th>Data do Cadastro</th>
                    </tr>
                    <tr th:each="cliente: ${clientes}">
                        <td th:text=${cliente.id}></td>
                        <td th:text=${cliente.nome}></td>
                        <td th:text="${#temporals.format(cliente.dataNascimento,'dd-MM-yyyy')}"></td>
                        <td th:text="${#temporals.format(cliente.dataCadastro,'dd-MM-yyyy')}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <script>
        var form = document.getElementById("form");
        function setAction(value) {
            form.setAttribute("action", "/clientes/novatos/" + value);
        }
    </script>
</body>

</html>