<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pweb_2020.2_MalysonSouza</title>
</head>

<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a class="ativo" href="/clientes">Organizar Clientes</a></li>
        <li><a href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1>Clientes Cadastrados:</h1>
        <div>
            <a th:href=@{clientes/adicionar} class="botao">Adicionar</a><hr>
            <table style="width: 100%;">
                <tr>
                	<th>ID</th>
                    <th>Nome Completo</th>
                    <th>Data de nascimento</th>
                    <th>E-Mail</th>
                    <th>Sexo</th>
                    <th>UF</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
                <tr th:each="cliente: ${clientes}">
                	<td th:text=${cliente.id}></td>
                	<td th:text=${cliente.nome}></td>
                    <td th:text="${#temporals.format(cliente.dataNascimento,'dd-MM-yyyy')}"></td>
                	<td>
                		<a th:href="'mailto:' + ${cliente.email}" th:text="${cliente.email}"></a>
                	</td>
                	<td th:text=${cliente.genero}></td>
                    <td th:text="${cliente.estado}"></td>
                    <td th:text="${cliente.endereco} + ' - ' + ${cliente.CEP}"></td>
                    <td th:text="${cliente.telefone}"></td>
                	<td>
                		<a th:href="@{/clientes/editar/{id}(id=${cliente.id})}">Editar</a>
                	</td>
                	<td>
                		<a th:href="@{/clientes/remover/{id}(id=${cliente.id})}">Remover</a>
                	</td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</body>

</html>