<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pweb_2020.2_MalysonSouza</title>
</head>

<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a href="/clientes">Organizar Clientes</a></li>
        <li><a class="ativo" href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1>Produtos Cadastrados:</h1>
        <div>
            <a th:href=@{produtos/adicionar} class="botao">Adicionar</a><hr>
            <table style="width: 100%;">
                <tr>
                	<th>ID</th>
                    <th>Imagem</th>
                    <th>Nome Produto</th>
                    <th>Marca</th>
                    <th>Dimensões</th>
                    <th>Volume</th>
                    <th>Peso</th>
                    <th>Preço</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
                <tr th:each="produto: ${produtos}">
                    <td th:text=${produto.id}></td>
                    <td>
                        <img id="imagem" th:src="@{${produto.getFoto} ? ('data:image/jpeg;base64,' + ${produto.getFotoBase64()}) : @{/images/semImagem.png}}" th:alt="'Foto do produto ' + ${produto.id}">
                    </td>
                	<td th:text=${produto.nomeProduto}></td>
                	<td th:text=${produto.marca}></td>
                	<td th:text="${produto.altura} +' X '+ ${produto.largura} +' X '+ ${produto.profundidade} + ' cm'"></td>
                    <td th:text="(${produto.altura} * ${produto.largura} * ${produto.profundidade})/100 + ' m³'"></td>
                	<td th:text="${produto.peso} + ' Kg'"></td>
                    <td th:text="'R$' + ${produto.preco}"></td>
                	<td>
                		<a th:href="@{/produtos/editar/{id}(id=${produto.id})}">Editar</a>
                	</td>
                	<td>
                		<a th:href="@{/produtos/remover/{id}(id=${produto.id})}">Remover</a>
                	</td>
                </tr>
            </table>
            <hr>
        </div>
    </div>
</body>

</html>