<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Autor" content="Malyson Souza">
    <meta name="Codigo Secreto" content="1943928042">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>pweb_2020.2_MalysonSouza</title>
</head>

<body>
    <ul>
        <li><a href="/">Inicio</a></li>
        <hr>
        <p>Area do cliente</p>
        <li><a href="/clientes/compras">Compras</a></li>
        <li><a class="ativo" href="/clientes/pedidos">Listar Pedidos</a></li>
        <hr>
        <p>Administração</p>
        <li><a href="/clientes">Organizar Clientes</a></li>
        <li><a href="/produtos">Organizar Produtos</a></li>
        <hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-mail</a></li>
    </ul>
    <div class="conteudo">
        <h1>Lista de pedidos:</h1>
        <p th:text="'Cliente: ' + ${cliente.nome}"></p>
        <div>
            <table style="width: 100%;">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Detalhar</th>
                </tr>
                <tr th:each="pedido: ${pedidos}">
                    <td th:text=${pedido.id}></td>
                    <td th:text="${pedido.status}"></td>
                    <td style="padding: 0.5vh;">
                        <a th:href="@{/pedidos/{id}(id=${pedido.id})}" class="botao" style="padding: 0.5vh;">Detalhar</a>
                    </td>
                </tr>
            </table>
            <hr>
            <a th:href="@{/clientes/pedidos/}" class="botao">Voltar</a>
        </div>
    </div>
</body>

</html>