body
{
    margin: 0;
    background-color: #fcf7ff;
    font-family: sans-serif;
}

img
{
    display: block;
    max-height: 20vw;
    border-style: solid;
    border-width: 5px;
    border-color: #5f0096;
    margin-left: auto;
    margin-right: auto;
}

#imagem
{
    display: block;
    max-height: 6vw;
    border-style: none;
    border-width: 0px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1dcff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.ativo {
    background-color: #4B0082;
    color: white;
}

li a:hover:not(.ativo) {
    background-color: #c69edf;
    color: white;
}

.conteudo
{
    margin-left: 20%;
    padding: 1vh;
}

.conteudo h1
{
    text-align: center;
    color: #220038
}

.conteudo h2
{
    color: #220038
}

.alinhamento
{
    margin-left: 3vw
}

.conteudo p, label
{
    font-size: 2.5vh;
    color: #220038
}

.botao
{
    background-color: #4B0082;
    color: white;
    border-style: solid;
    border-width: 0px 2.5px 0px 0px;
    border-color: #140022;
    padding: 1.5vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-right: 5px;
    font-size: 2.5vh;
    margin-bottom: 0px;
}

.botao.inativo
{
    background-color: #f1dcff;
    color: #140022;
}

a:hover.botao.inativo
{
    background-color: #c69edf;
    color: white;
}

input
{
    margin-bottom: 1.5vh;
}

hr
{
    border-style: solid;
    border-color: #4B0082;
    border-width: 1.5px 0 0 0;
}

table
{
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
}
td, th
{
    border-width: 1px;
    border-style: solid;
}

.info
{
    margin-top: 1.3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 0.8vh;
    border-style: solid;
    border-width: 0px 2.5px 2.5px 0px;
    border-top-left-radius: 0px;
    background-color: #4B0082;
}

.info div
{
    padding: 1vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border-radius: 1vh;
    border-style: solid;
    border-width: 2.5px 0px 0px 2.5px;
    background-color: #f1dcff;;
}