body
{
    background-color: rgb(79, 110, 128);
}
.Centro
{
    margin: 0 auto;
    width: 50%;
    vertical-align: middle;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    padding: 5vh;
    color: rgb(32, 44, 51);
    background-color: rgb(129, 182, 212);
    border-radius: 3vh;
}
a
{
    color: rgb(59, 74, 160);
}

@media only screen and (max-width: 600px) {
    .Centro
    {
        width: auto;
    }
  }